<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../public/images/pinkLogo.png">
  <title>< Gloria's Portfolio ></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
    <!-- Entire Page-->
    <div class="container">
        <!--First Section of Page -->
        <div class="intro">
            <section>
                <div class="name-and-button">
                    <h1>
                        <span>Hello, I am Gloria. </span>
                        <button id = "theme-switch" aria-label="ToggleTheme">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#b1bc6e"><path d="M484-80q-84 0-157.5-32t-128-86.5Q144-253 112-326.5T80-484q0-146 93-257.5T410-880q-18 99 11 193.5T521-521q71 71 165.5 100T880-410q-26 144-138 237T484-80Z"/></svg>
                        </button>
                    </h1>
                </div>
                <div class="intro-paragraph">
                    <p>Software Engineer from Austin, TX. Contact me below. Currently working on obtaining my  
                        <strong>
                            <a href="https://www.cloudskillsboost.google/public_profiles/e77fe549-b868-479a-af10-8bff99740a59" target="_blank" rel="noopener noreferrer">
                                Google Cloud Certification
                            </a>
                        </strong>
                        and my 
                        <strong>Google Project Management Certification.</strong>
                    </p>
                </div>
                <div class="icons-container">
                    <div class="icons">
                        <a class="icon" href="https://cal.com/gloria-t-kk8ebs" target="_blank">
                            <img src="../public/icons/light_assets/light_cal_icon.png" alt="Calendar">
                        </a>
                        <a class="icon" href="https://github.com/GibiGhost" target="_blank">
                            <img src="../public/icons/light_assets/light_github_icon.png" alt="GitHub">
                        </a>
                        <a class="icon" href="mailto:gloriabytes@gmail.com" target="_blank">
                            <img src="../public/icons/light_assets/light_email_icon.png" alt="Email">
                        </a>
                        <a class="icon" href="https://www.linkedin.com/in/gloria-trev/" target="_blank">
                            <img src="../public/icons/light_assets/light_linkedin_icon.png" alt="LinkedIn">
                        </a>
                        
                    </div>
                </div>
            </section>
        </div>
        <!-- Tabs -->
        <div class="tab-layout">
            <div class="tabs">
                <button class="tab-btn">Projects</button>
                <button class="tab-btn">Experience</button>
                <button class="tab-btn">Tools</button>
            </div>
            <div class="projects"></div>
            <div class="experiences"></div>
            <div class="tools"></div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <footer>
            <div>gloria.dev</div>
            <div>Built with Next.js</div>
        </footer>
    </div>
</body>

</html>


