:root {
  --base-color: #a6a18e;
  --base-variant: #f2f3f4;
  --text-color: #4d371f;
  --secondary-text: #7e6c57;
  --accent-color: #c4c0a6;
  --button-color: #b1bc6e;
  --hightlight-color: #93a74b;
}

.darkmode {
  --base-color: #847960;
  --base-variant: #28281e;
  --text-color: #ffffff;
  --secondary-text: #ece7e1;
  --accent-color: #c4c0a6;
  --button-color: #b1bc6e;
  --hightlight-color: #93a74b;
}

#theme-switch {
  /* height: 70px; */
  /* width: 70px; */
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

#theme-switch svg:last-child{
  display:none;
}

body {
    align-items: center;
    background-color: var(--base-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Geist", sans-serif;
    margin: 1rem;
    min-height: 100vh; 
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .container {
    background: var(--base-variant);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 55rem;
    min-height: 100vh;
    opacity: .8;
    padding: 2rem;
  }

  @media (max-width: 1000px) {
    .container {
      max-width: 44rem;
    }
  }

  .name-and-themeSwitch { 
    display: flex;
    justify-content: space-between;
  }

  .footer {
    width: 50%; 
    margin-top: 1rem;
  }
  footer {
    display: flex;
    font-size: .75rem;
    justify-content: space-between;
  }

  h1 {
    color: var(--text-color);
    font: 1.25rem;
  }

  p, a{
    color: var(--secondary-text);
    text-decoration: none;
    font-size: .875rem;
  }
  
  img {
    width: 20px;
    height: 20px;
  }

  .icons {
    display: flex;
    gap: 1rem;
  }

  .tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .tab-btn {
    border: none;
    color: #4d371f;
  }